*{
    margin: 0; /* Margen*/
    top: 0; /* Margen de arriba*/
    left: 0; /* Margen de la derecha*/
}

#Nav {

    top: 0;
    width: 100%; /*Ancho*/
    height: 100px; /* Alto */
    background-color: #399D21; /* Color de fondo*/
    float: right;
}

#Contenedor{

    width: 100%; /*Ancho*/
    height: 100px; /* Alto */
    display: flex;
    justify-content:space-evenly;

}
.titulo1 {

    color: #FFF;  /* Color*/
    font-family: 'Times New Roman', Times, serif; /* Tipo de letra*/
    padding: 30px; /* Margen interior*/
    font-size: 40px; /* Tamaño de la letra*/
   
    top: 0;
}
.titulo3
{
   color: #FFF;
}

.img1 {

    width: 90px;
    height: 100px;
    position: absolute;
   
}
